.container {
    margin-top: 50px;
    
}
.dropdown{
    margin-top:60px;
    padding: 20px 20px;
}
.dropdown .btn {
    font-size: 20px; /* Increase font size */
    padding: 10px 10px; /* Increase padding for a larger button */
}
/* Custom styles for dropdown */
.dropdown-menu {
  
  background-color: #f8f9fa; /* Light gray background */
  font-size: larger;
  padding: 10px 0; /* Adjust padding for the menu items */
  border: none; /* Remove border */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.dropdown-menu a {
  color: #333; /* Dark text color */
  padding: 10px 20px; /* Increase padding for better spacing */

}

.dropdown-menu a:hover {
  background-color: #e9ecef; /* Light gray background on hover */
}

.btn-group-vertical {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    margin-top:70px;
    height:450px;
    border-radius: 100px;
    padding: 1px;
}
.btn-group-vertical .btn {
    font-size: 20px; /* Increase font size */
}

.btn {
    margin-bottom: 10px;
    border: none;
    padding: 200px 200px; /* Increase padding for bigger buttons */
    border-radius: 5px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 22px; /* Increase font size */
    line-height: 1.5; /* Increase line height for bigger button height */
    transition: opacity 0.3s, transform 0.3s; /* Add smooth transition for opacity and transform */
}

.btn:nth-child(odd) {
    color: white;
    background-color: #457b9d; /* Light blueish gray for odd buttons */
}

.btn:nth-child(even) {
    color: white;
    background-color: #1d3557; /* Dark blue for even buttons */
}

.btn:hover {
    opacity: 0.8; /* Reduce opacity on hover */
    transform: scale(1.05); /* Scale up the button on hover */
    background-color: #1d3557;
}



