<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/forms.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="navbar.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Inventory Management Web App</title>
</head>

<body>
    <header></header>
    <div class="container">
        <h1 class="text-center mt-4 mb-5">Delete Data</h1>
        <div class="form-contain">
            <form id="myForm" method="GET" action="/deleteForm">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="SERIAL_NUMBER" class="form-label">Serial Number
                        </label>
                        <input type="text" class="form-control" id="SERIAL_NUMBER" name="SERIAL_NUMBER" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="ACCOUNT_NAME" class="form-label">Account
                            Name</label>
                        <input type="text" class="form-control" id="ACCOUNT_NAME" name="ACCOUNT_NAME" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="PRIMARY_DBA" class="form-label">Primary
                            DBA</label>
                        <input type="text" class="form-control" id="PRIMARY_DBA" name="PRIMARY_DBA" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="BACKUP_DBA " class="form-label">Backup
                            DBA</label>
                        <input type="text" class="form-control" id="BACKUP_DBA" name="BACKUP_DBA" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="CUST_SERVICE_PARTNER" class="form-label">Customer Service
                            Partner</label>
                        <input type="text" class="form-control" id="CUST_SERVICE_PARTNER" name="CUST_SERVICE_PARTNER" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="TOM" class="form-label">TOM</label>
                        <input type="text" class="form-control" id="TOM" name="TOM" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="LICENSE_OWNERSHIP_CUST_SVVS" class="form-label">License Ownership Cust
                            Svvs</label>
                        <input type="text" class="form-control" id="LICENSE_OWNERSHIP_CUST_SVVS"
                            name="LICENSE_OWNERSHIP_CUST_SVVS" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="CSI_IF_CUST_PROVIDED_LICENSE" class="form-label">CSI If Cust Provided
                            License</label>
                        <input type="text" class="form-control" id="CSI_IF_CUST_PROVIDED_LICENSE"
                            name="CSI_IF_CUST_PROVIDED_LICENSE" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="CUS_POINT_OF_CONTACT_APPLICATION_OWNER" class="form-label">CUS Point of Contact
                            Application Owner</label>
                        <input type="text" class="form-control" id="CUS_POINT_OF_CONTACT_APPLICATION_OWNER"
                            name="CUS_POINT_OF_CONTACT_APPLICATION_OWNER" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="LOGIN_PROCEDURE" class="form-label">Login Procedure</label>
                        <input type="text" class="form-control" id="LOGIN_PROCEDURE" name="LOGIN_PROCEDURE" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="SERVER_NAME" class="form-label">Server
                            Name</label>
                        <input type="text" class="form-control" id="SERVER_NAME" name="SERVER_NAME" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="IP_ADDRESS" class="form-label">IP
                            Address</label>
                        <input type="text" class="form-control" id="IP_ADDRESS" name="IP_ADDRESS" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="LOC_IDC" class="form-label">LOC
                            IDC</label>
                        <input type="text" class="form-control" id="LOC_IDC" name="LOC_IDC" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="OS_TYPE" class="form-label">OS
                            Type</label>
                        <input type="text" class="form-control" id="OS_TYPE" name="OS_TYPE" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="INSTANCE" class="form-label">Instance</label>
                        <input type="text" class="form-control" id="INSTANCE" name="INSTANCE" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="DATABASE_NAME" class="form-label">Database Name</label>
                        <input type="text" class="form-control" id="DATABASE_NAME" name="DATABASE_NAME" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="PLUGGABLE" class="form-label">Pluggable</label>
                        <input type="text" class="form-control" id="PLUGGABLE" name="PLUGGABLE" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="DB_TYPE_DEV_PROD" class="form-label">DB
                            Type Dev Prod</label>
                        <input type="text" class="form-control" id="DB_TYPE_DEV_PROD" name="DB_TYPE_DEV_PROD" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="DB_ROLE" class="form-label">DB
                            Role</label>
                        <input type="text" class="form-control" id="DB_ROLE" name="DB_ROLE" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="IS_DB_DOWN" class="form-label">Is DB
                            Down</label>
                        <input type="text" class="form-control" id="IS_DB_DOWN" name="IS_DB_DOWN" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="LAST_UP_DOWN_DATE" class="form-label">Last Up Down Date</label>
                        <input type="text" class="form-control" id="LAST_UP_DOWN_DATE" name="LAST_UP_DOWN_DATE" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="PRIM_SERVER" class="form-label">Primary
                            Server</label>
                        <input type="text" class="form-control" id="PRIM_SERVER" name="PRIM_SERVER" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="PRIM_INST" class="form-label">Primary
                            Instance</label>
                        <input type="text" class="form-control" id="PRIM_INST" name="PRIM_INST" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="INSTANCE_TYPE" class="form-label">Instance Type</label>
                        <input type="text" class="form-control" id="INSTANCE_TYPE" name="INSTANCE_TYPE" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="DB_VERSION" class="form-label">DB
                            Version</label>
                        <input type="text" class="form-control" id="DB_VERSION" name="DB_VERSION" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="DB_EDITION_SE_EE" class="form-label">DB
                            Edition SE EE</label>
                        <input type="text" class="form-control" id="DB_EDITION_SE_EE" name="DB_EDITION_SE_EE" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="GRID_INFO" class="form-label">Grid
                            Info</label>
                        <input type="text" class="form-control" id="GRID_INFO" name="GRID_INFO" />
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="FILESYSTEM_ASM_FILESYSTEM" class="form-label">Filesystem ASM
                            Filesystem</label>
                        <input type="text" class="form-control" id="FILESYSTEM_ASM_FILESYSTEM"
                            name="FILESYSTEM_ASM_FILESYSTEM" " />
                        </div>
                    </div>
                    <div class=" row">
                        <div class="col-md-6 mb-3">
                            <label for="DB_SIZE_MB_GB_TB" class="form-label">DB
                                Size MB GB TB</label>
                            <input type="text" class="form-control" id="DB_SIZE_MB_GB_TB" name="DB_SIZE_MB_GB_TB" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="DBID" class="form-label">DBID</label>
                            <input type="text" class="form-control" id="DBID" name="DBID" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="OS_WATCHER" class="form-label">OS
                                Watcher</label>
                            <input type="text" class="form-control" id="OS_WATCHER" name="OS_WATCHER" " />
                        </div>
                   
                        <div class=" col-md-6 mb-3">
                            <label for="BACKUP_TYPE" class="form-label">Backup
                                Type</label>
                            <input type="text" class="form-control" id="BACKUP_TYPE" name="BACKUP_TYPE" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="BACKUP_TO_DISK_TAPE" class="form-label">Backup to Disk Tape</label>
                            <input type="text" class="form-control" id="BACKUP_TO_DISK_TAPE"
                                name="BACKUP_TO_DISK_TAPE" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="BACKUP_LOCATION_POLICY_OR_NFS_SHARED_LOCATION" class="form-label">Backup
                                Location Policy or NFS
                                Shared Location</label>
                            <input type="text" class="form-control" id="BACKUP_LOCATION_POLICY_OR_NFS_SHARED_LOCATION"
                                name="BACKUP_LOCATION_POLICY_OR_NFS_SHARED_LOCATION" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="BACKUP_SCRIPT_LOCATION" class="form-label">Backup Script
                                Location</label>
                            <input type="text" class="form-control" id="BACKUP_SCRIPT_LOCATION"
                                name="BACKUP_SCRIPT_LOCATION" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="BACKUP_LOG_LOCATION" class="form-label">Backup Log Location</label>
                            <input type="text" class="form-control" id="BACKUP_LOG_LOCATION"
                                name="BACKUP_LOG_LOCATION" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="BACKUP_SCHEDULED" class="form-label">Backup Scheduled</label>
                            <input type="text" class="form-control" id="BACKUP_SCHEDULED" name="BACKUP_SCHEDULED" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="CATALOG_Y_N" class="form-label">Catalog
                                Y N</label>
                            <input type="text" class="form-control" id="CATALOG_Y_N" name="CATALOG_Y_N" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="CATALOG_DB_SERVER" class="form-label">Catalog DB Server</label>
                            <input type="text" class="form-control" id="CATALOG_DB_SERVER" name="CATALOG_DB_SERVER" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="CATALOG_USER" class="form-label">Catalog
                                User</label>
                            <input type="text" class="form-control" id="CATALOG_USER" name="CATALOG_USER" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="FULL_BACKUP_DETAILS" class="form-label">Full Backup Details</label>
                            <input type="text" class="form-control" id="FULL_BACKUP_DETAILS"
                                name="FULL_BACKUP_DETAILS" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="INCREMENTAL_BACKUP_DETAILS" class="form-label">Incremental Backup
                                Details</label>
                            <input type="text" class="form-control" id="INCREMENTAL_BACKUP_DETAILS"
                                name="INCREMENTAL_BACKUP_DETAILS" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="ARCHIVE_BACKUP_DETAILS" class="form-label">Archive Backup
                                Details</label>
                            <input type="text" class="form-control" id="ARCHIVE_BACKUP_DETAILS"
                                name="ARCHIVE_BACKUP_DETAILS" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="MONITORED_BY" class="form-label">Monitored By</label>
                            <input type="text" class="form-control" id="MONITORED_BY" name="MONITORED_BY" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="LAST_AUDIT_DATE" class="form-label">Last
                                Audit Date</label>
                            <input type="text" class="form-control" id="LAST_AUDIT_DATE" name="LAST_AUDIT_DATE" />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="LAST_AUDITED_BY" class="form-label">Last
                                Audited By</label>
                            <input type="text" class="form-control" id="LAST_AUDITED_BY" name="LAST_AUDITED_BY" />
                        </div>
                    </div>
                    <div class="submit-btn">
                        <button class="btn-search" id="searchButton" onclick="fetchData()">Search</button>
                        <button class="btn-submit" type="submit" onclick="deleteData()">Delete Record</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
    <script>
        // Get the table value from the URL
        //<!-- const urlParams = new URLSearchParams(window.location.search);
        //const table = urlParams.get('table');

        // Set the action attribute of the form to include the table value
        //document.getElementById('myForm').action = `/updateForm?TABLE_NAME=${table}`; -->

        function fetchData() {
            event.preventDefault();
            const serial_no = document.getElementById('SERIAL_NUMBER').value;
            fetch(`/fetchData/${serial_no}`) // Assuming you have an endpoint to fetch data based on the incident ID
                .then(response => response.json())
                .then(data => {
                    populateFormFields(data);
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                    alert("Record not found");
                });
        }


        function populateFormFields(data) {
            document.getElementById('SERIAL_NUMBER').value = data.SERIAL_NUMBER;
            document.getElementById('ACCOUNT_NAME').value = data.ACCOUNT_NAME;
            document.getElementById('PRIMARY_DBA').value = data.PRIMARY_DBA;
            document.getElementById('BACKUP_DBA').value = data.BACKUP_DBA;
            document.getElementById('CUST_SERVICE_PARTNER').value = data.CUST_SERVICE_PARTNER;
            document.getElementById('TOM').value = data.TOM;
            document.getElementById('LICENSE_OWNERSHIP_CUST_SVVS').value = data.LICENSE_OWNERSHIP_CUST_SVVS;
            document.getElementById('CSI_IF_CUST_PROVIDED_LICENSE').value = data.CSI_IF_CUST_PROVIDED_LICENSE;
            document.getElementById('CUS_POINT_OF_CONTACT_APPLICATION_OWNER').value = data.CUS_POINT_OF_CONTACT_APPLICATION_OWNER;
            document.getElementById('LOGIN_PROCEDURE').value = data.LOGIN_PROCEDURE;
            document.getElementById('SERVER_NAME').value = data.SERVER_NAME;
            document.getElementById('IP_ADDRESS').value = data.IP_ADDRESS;
            document.getElementById('LOC_IDC').value = data.LOC_IDC;
            document.getElementById('OS_TYPE').value = data.OS_TYPE;
            document.getElementById('INSTANCE').value = data.INSTANCE;
            document.getElementById('DATABASE_NAME').value = data.DATABASE_NAME;
            document.getElementById('PLUGGABLE').value = data.PLUGGABLE;
            document.getElementById('DB_TYPE_DEV_PROD').value = data.DB_TYPE_DEV_PROD;
            document.getElementById('DB_ROLE').value = data.DB_ROLE;
            document.getElementById('IS_DB_DOWN').value = data.IS_DB_DOWN;
            document.getElementById('LAST_UP_DOWN_DATE').value = data.LAST_UP_DOWN_DATE;
            document.getElementById('PRIM_SERVER').value = data.PRIM_SERVER;
            document.getElementById('PRIM_INST').value = data.PRIM_INST;
            document.getElementById('INSTANCE_TYPE').value = data.INSTANCE_TYPE;
            document.getElementById('DB_VERSION').value = data.DB_VERSION;
            document.getElementById('DB_EDITION_SE_EE').value = data.DB_EDITION_SE_EE;
            document.getElementById('GRID_INFO').value = data.GRID_INFO;
            document.getElementById('FILESYSTEM_ASM_FILESYSTEM').value = data.FILESYSTEM_ASM_FILESYSTEM;
            document.getElementById('DB_SIZE_MB_GB_TB').value = data.DB_SIZE_MB_GB_TB;
            document.getElementById('DBID').value = data.DBID;
            document.getElementById('OS_WATCHER').value = data.OS_WATCHER;
            document.getElementById('BACKUP_TYPE').value = data.BACKUP_TYPE;
            document.getElementById('BACKUP_TO_DISK_TAPE').value = data.BACKUP_TO_DISK_TAPE;
            document.getElementById('BACKUP_LOCATION_POLICY_OR_NFS_SHARED_LOCATION').value = data.BACKUP_LOCATION_POLICY_OR_NFS_SHARED_LOCATION;
            document.getElementById('BACKUP_SCRIPT_LOCATION').value = data.BACKUP_SCRIPT_LOCATION;
            document.getElementById('BACKUP_LOG_LOCATION').value = data.BACKUP_LOG_LOCATION;
            document.getElementById('BACKUP_SCHEDULED').value = data.BACKUP_SCHEDULED;
            document.getElementById('CATALOG_Y_N').value = data.CATALOG_Y_N;
            document.getElementById('CATALOG_DB_SERVER').value = data.CATALOG_DB_SERVER;
            document.getElementById('CATALOG_USER').value = data.CATALOG_USER;
            document.getElementById('FULL_BACKUP_DETAILS').value = data.FULL_BACKUP_DETAILS;
            document.getElementById('INCREMENTAL_BACKUP_DETAILS').value = data.INCREMENTAL_BACKUP_DETAILS;
            document.getElementById('ARCHIVE_BACKUP_DETAILS').value = data.ARCHIVE_BACKUP_DETAILS;
            document.getElementById('MONITORED_BY').value = data.MONITORED_BY;
            document.getElementById('LAST_AUDIT_DATE').value = data.LAST_AUDIT_DATE;
            document.getElementById('LAST_AUDITED_BY').value = data.LAST_AUDITED_BY;
        }

        function deleteData() {
            event.preventDefault();
            const serial_no = document.getElementById('SERIAL_NUMBER').value;
            console.log('serial no to delete:', serial_no); // Log the incident ID
            fetch(`/deleteData/${serial_no}`, { // Corrected URL string
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ SERIAL_NUMBER: serial_no })
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Data deleted successfully.');
                        // Show pop-up message
                        alert('Record deleted successfully!!!');
                    } else {
                        console.error('Error deleting data.');
                        alert('Error Deleting Data!!!!');
                    }
                })
                .catch(error => console.error('Error deleting data:', error));
        }
    </script>
</body>

</html>