<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../static/search.css" />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="navbar.js" defer></script>
  <title>Inventory Management Web App</title>
  <style>
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .export-btn {
      display: flex;
      justify-content: center;
      margin-top: 20px; /* Adjust the margin as needed */
    }
    .form-group-row {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 1rem;
    }
    .form-group-row label {
      flex: 0 0 10%; /* Adjust the width of the label */
      margin-right: 1rem;
    }
    .form-group-row .form-control {
      flex: 1;
      width: auto; /* Allow the input field to adjust based on flexbox rules */
    }
    .additional-field {
      display: flex;
      align-items: center;
      width: 100%
    }
    .remove-field-button {
      margin-left: 10px;
    }
  </style>
</head>
<body>
  <header></header>
  <div>
    <h1 class="text-center mt-4 mb-5">Search Data</h1>
  </div>
  <div class="container">
    <div class="form-container">
      <form
        id="searchForm"
        action="/searchForm"
        method="POST"
        class="form-group w-100"
      >
        <input type="hidden" id="table" name="table" />
        <input type="hidden" id="fetchedData" name="fetchedData" />

        <div class="form-group-row">
          <label for="SERVER_NAME" class="form-label">Server Name</label>
          <input
            type="text"
            class="form-control"
            id="SERVER_NAME"
            name="SERVER_NAME"
          />
        </div>
        <div class="form-group-row">
          <label for="DATABASE_NAME" class="form-label">Database Name</label>
          <input
            type="text"
            class="form-control"
            id="DATABASE_NAME"
            name="DATABASE_NAME"
          />
        </div>
        <div class="form-group-row">
          <label for="INSTANCE" class="form-label">Instance Name</label>
          <input
            type="text"
            class="form-control"
            id="INSTANCE"
            name="INSTANCE"
          />
        </div>
        <div class="form-group-row">
          <label for="PRIMARY_DBA" class="form-label">Primary DBA</label>
          <input
            type="text"
            class="form-control"
            id="PRIMARY_DBA"
            name="PRIMARY_DBA"
          />
        </div>

        <div class="form-group-row">
          <label for="additionalFields" class="form-label">Additional Fields</label>
          <select id="additionalFields" class="form-select">
            <option value="">Select additional field</option>
            <option value="BACKUP_DBA">Backup DBA</option>
            <option value="CUST_SERVICE_PARTNER">Customer Service Partner</option>
            <option value="TOM">TOM</option>
            <option value="LICENSE_OWNERSHIP_CUST_SVVS">License Ownership Cust Svvs</option>
            <option value="CSI_IF_CUST_PROVIDED_LICENSE">CSI If Cust Provided License</option>
            <option value="CUS_POINT_OF_CONTACT_APPLICATION_OWNER">CUS Point of Contact Application Owner</option>
            <option value="LOGIN_PROCEDURE">Login Procedure</option>
            <option value="IP_ADDRESS">IP Address</option>
            <option value="LOC_IDC">LOC IDC</option>
            <option value="OS_TYPE">OS Type</option>
            <option value="PLUGGABLE">Pluggable</option>
            <option value="DB_TYPE_DEV_PROD">DB Type Dev Prod</option>
            <option value="DB_ROLE">DB Role</option>
            <option value="IS_DB_DOWN">Is DB Down</option>
            <option value="LAST_UP_DOWN_DATE">Last Up Down Date</option>
            <option value="PRIM_SERVER">Primary Server</option>
            <option value="PRIM_INST">Primary Instance</option>
            <option value="INSTANCE_TYPE">Instance Type</option>
            <option value="DB_VERSION">DB Version</option>
            <option value="DB_EDITION_SE_EE">DB Edition SE EE</option>
            <option value="GRID_INFO">Grid Info</option>
            <option value="FILESYSTEM_ASM_FILESYSTEM">Filesystem ASM Filesystem</option>
            <option value="DB_SIZE_MB_GB_TB">DB Size MB GB TB</option>
            <option value="DBID">DBID</option>
            <option value="OS_WATCHER">OS Watcher</option>
            <option value="BACKUP_TYPE">Backup Type</option>
            <option value="BACKUP_TO_DISK_TAPE">Backup to Disk Tape</option>
            <option value="BACKUP_LOCATION_POLICY_OR_NFS_SHARED_LOCATION">Backup Location Policy or NFS Shared Location</option>
            <option value="BACKUP_SCRIPT_LOCATION">Backup Script Location</option>
            <option value="BACKUP_LOG_LOCATION">Backup Log Location</option>
            <option value="BACKUP_SCHEDULED">Backup Scheduled</option>
            <option value="CATALOG_Y_N">Catalog Y N</option>
            <option value="CATALOG_DB_SERVER">Catalog DB Server</option>
            <option value="CATALOG_USER">Catalog User</option>
            <option value="FULL_BACKUP_DETAILS">Full Backup Details</option>
            <option value="INCREMENTAL_BACKUP_DETAILS">Incremental Backup Details</option>
            <option value="ARCHIVE_BACKUP_DETAILS">Archive Backup Details</option>
            <option value="MONITORED_BY">Monitored By</option>
            <option value="LAST_AUDIT_DATE">Last Audit Date</option>
            <option value="LAST_AUDITED_BY">Last Audited By</option>
          </select>
          <button type="button" class="btn btn-secondary mt-2" id="addFieldButton">Add Field</button>
        </div>

        <div id="additionalFieldsContainer"></div>

        <div class="button-container">
          <div class="submit-btn">
            <button type="submit" class="btn btn-primary">Search</button>
          </div>
          <div class="export-btn">
            <button type="button" id="exportButton" class="btn btn-success">
              Export as Excel
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="search-table">
      <div id="loading" style="display: none;">Loading...</div>
      <table id="results">
        <thead>
          <tr>
            <th>SERIAL_NUMBER</th>
            <th>ACCOUNT_NAME</th>
            <th>PRIMARY_DBA</th>
            <th>BACKUP_DBA</th>
            <th>CUST_SERVICE_PARTNER</th>
            <th>TOM</th>
            <th>LICENSE_OWNERSHIP_CUST_SVVS</th>
            <th>CSI_IF_CUST_PROVIDED_LICENSE</th>
            <th>CUS_POINT_OF_CONTACT_APPLICATION_OWNER</th>
            <th>LOGIN_PROCEDURE</th>
            <th>SERVER_NAME</th>
            <th>IP_ADDRESS</th>
            <th>LOC_IDC</th>
            <th>OS_TYPE</th>
            <th>INSTANCE</th>
            <th>DATABASE_NAME</th>
            <th>PLUGGABLE</th>
            <th>DB_TYPE_DEV_PROD</th>
            <th>DB_ROLE</th>
            <th>IS_DB_DOWN</th>
            <th>LAST_UP_DOWN_DATE</th>
            <th>PRIM_SERVER</th>
            <th>PRIM_INST</th>
            <th>INSTANCE_TYPE</th>
            <th>DB_VERSION</th>
            <th>DB_EDITION_SE_EE</th>
            <th>GRID_INFO</th>
            <th>FILESYSTEM_ASM_FILESYSTEM</th>
            <th>DB_SIZE_MB_GB_TB</th>
            <th>DBID</th>
            <th>OS_WATCHER</th>
            <th>BACKUP_TYPE</th>
            <th>BACKUP_TO_DISK_TAPE</th>
            <th>BACKUP_LOCATION_POLICY_OR_NFS_SHARED_LOCATION</th>
            <th>BACKUP_SCRIPT_LOCATION</th>
            <th>BACKUP_LOG_LOCATION</th>
            <th>BACKUP_SCHEDULED</th>
            <th>CATALOG_Y_N</th>
            <th>CATALOG_DB_SERVER</th>
            <th>CATALOG_USER</th>
            <th>FULL_BACKUP_DETAILS</th>
            <th>INCREMENTAL_BACKUP_DETAILS</th>
            <th>ARCHIVE_BACKUP_DETAILS</th>
            <th>MONITORED_BY</th>
            <th>LAST_AUDIT_DATE</th>
            <th>LAST_AUDITED_BY</th>
          </tr>
        </thead>
        <tbody id="results-body"></tbody>
        <!-- Results will be displayed here -->
      </table>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.2.1/exceljs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
  <script>
    // Function to get query parameters from the URL
    function getQueryParams() {
      const params = {};
      const queryString = window.location.search.substring(1);
      const regex = /([^&=]+)=([^&]*)/g;
      let m;
      while ((m = regex.exec(queryString))) {
        params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
      }
      return params;
    }

    document.addEventListener("DOMContentLoaded", function () {
      const params = getQueryParams();
      if (params.table) {
        document.getElementById("table").value = params.table;
        console.log("table:", params.table);
      }
    });

    document.getElementById("searchForm").addEventListener("submit", async function (event) {
      event.preventDefault();
      const loadingIndicator = document.getElementById("loading");
      loadingIndicator.style.display = "block";
      const formData = new FormData(this);
      const jsonData = {};
      formData.forEach((value, key) => {
        jsonData[key] = value;
      });
      console.log("jsonData:", jsonData);
      const responseData = await fetch("/searchForm", {
        method: "POST",
        body: JSON.stringify(jsonData),
        headers: {
          "Content-Type": "application/json",
        },
      }).then((response) => response.json());
      loadingIndicator.style.display = "none";

      // Update the table with the results
      const resultsBody = document.getElementById("results-body");
      resultsBody.innerHTML = ""; // Clear previous results

      if (Array.isArray(responseData) && responseData.length > 0) {
        for (const row of responseData) {
          resultsBody.innerHTML += `<tr>${row
            .map((value) => `<td>${value}</td>`)
            .join("")}</tr>`;
        }
      } else {
        resultsBody.innerHTML = '<tr><td colspan="100%">No results found</td></tr>';
      }
    });

    // Export results as Excel file
    document.getElementById("exportButton").addEventListener("click", function () {
      const table = document.getElementById("results");
      const workbook = new ExcelJS.Workbook();
      const worksheet = workbook.addWorksheet("Results");

      // Add header row
      const header = Array.from(table.querySelectorAll("th")).map((th) => th.innerText);
      worksheet.addRow(header);

      // Add data rows
      Array.from(table.querySelectorAll("tbody tr")).forEach((tr) => {
        const row = Array.from(tr.querySelectorAll("td")).map((td) => td.innerText);
        worksheet.addRow(row);
      });

      workbook.xlsx.writeBuffer().then((buffer) => {
        saveAs(new Blob([buffer]), "results.xlsx");
      });
    });

    // Add selected field to the form
    document.getElementById("addFieldButton").addEventListener("click", function () {
      const additionalFields = document.getElementById("additionalFields");
      const selectedField = additionalFields.value;

      if (selectedField) {
        // Check if the field is already added
        const existingFields = document.querySelectorAll("#additionalFieldsContainer .form-label");
        for (let i = 0; i < existingFields.length; i++) {
          if (existingFields[i].getAttribute("for") === selectedField) {
            alert("Field is already added.");
            return;
          }
        }

        const fieldLabel = additionalFields.options[additionalFields.selectedIndex].text;
        const container = document.createElement("div");
        container.className = "form-group-row w-100 additional-field";

        const label = document.createElement("label");
        label.className = "form-label";
        label.setAttribute("for", selectedField);
        label.innerText = fieldLabel;

        const input = document.createElement("input");
        input.type = "text";
        input.className = "form-control";
        input.id = selectedField;
        input.name = selectedField;

        const removeButton = document.createElement("button");
        removeButton.type = "button";
        removeButton.className = "btn btn-danger remove-field-button";
        removeButton.innerText = "Remove";
        removeButton.onclick = function () {
          container.remove();
        };

        container.appendChild(label);
        container.appendChild(input);
        container.appendChild(removeButton);

        document.getElementById("additionalFieldsContainer").appendChild(container);
      }
    });
  </script>
</body>
</html>
